# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.eggs/
*.env
.env*

# VSCode
.vscode/
.idea/

# PyInstaller
build/
dist/
*.spec

# Test/coverage
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
pytest_output*.log

# Backup/temp
*.bak
*.tmp
*.swp

# Database
*.sqlite3
*.db

# Docker
**/docker-compose.override.yml

# Arquivos de configuração sensíveis
config/settings.py

# Outros
*.orig
